.adminPage {
  min-height: 100vh;
  background: #edf2f8;
  padding: 40px;
}

.adminHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.adminHeader h1 {
  font-size: 38px;
  color: #071b3a;
}

.adminHeader button {
  border: 0;
  background: #071b3a;
  color: white;

  padding: 14px 24px;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 700;
}

.chamadosGrid {
  display: grid;
  gap: 20px;
}

.chamadoCard {
  background: white;
  border-radius: 24px;

  padding: 24px;

  box-shadow: 0 14px 36px rgba(7, 27, 58, 0.08);
}

.chamadoTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 18px;
}

.chamadoTop strong {
  font-size: 24px;
  color: #071b3a;
}

.status {
  padding: 10px 16px;
  border-radius: 999px;

  font-size: 14px;
  font-weight: 700;

  background: #d9f8e7;
  color: #10804a;
}

.chamadoInfo {
  display: grid;
  gap: 12px;
}

.chamadoInfo p {
  color: #44556c;
  line-height: 1.5;
}

.descricaoBox {
  background: #f4f7fb;
  border-radius: 16px;

  padding: 18px;

  line-height: 1.6;
  color: #071b3a;
}

.adminLoading {
  font-size: 20px;
  color: #071b3a;
}

@media (max-width: 700px) {

  .adminPage {
    padding: 20px;
  }

  .adminHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .adminHeader h1 {
    font-size: 30px;
  }

  .chamadoTop {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.adminCenter {
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  gap: 20px;
}

.adminCenter h1 {
  font-size: 42px;
  color: #071b3a;
}

.adminCenter p {
  font-size: 18px;
  color: #5a6b82;
  max-width: 420px;
  line-height: 1.6;
}